.input {
  position: relative;

  &__label {
    position: absolute;
    left: 42px;
    top: 16px;
  }

  &__control {
    padding: 16px 42px;
    width: 100%;
    font-size: 16px;
    line-height: 1.17;
    border-radius: 8px;
    border: 1px solid var(--color-secondary-dark);
    background-color: transparent;
  }

  &:focus {
    border-color: var(--color-brand-normal);
    outline: none;
  }

  &::placeholder {
    color: var(--color-secondary-dark);
    font-size: 16px;
    line-height: 1.17;
  }
  &:focus::placeholder {
    color: var(--color-primary-dark);
  }
}
