.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;

  // &__cs {
  //   padding-left: 80px;
  //   // max-width: 1256px;
  //   // margin: 0 80px;
  // }

  // &__format {
  //   //   max-width: 1240px;
  //   //   margin: 0 60x;
  //   padding-left: 60px;
  // }
}
